table {
  width: 100%;
}

.table-container {
  height: 100%;
  overflow: auto;
}

th.mat-header-cell {
  // text-align: center;
}

.mat-row {
  height: 36px;
  .mat-cell {
    color: #909090;
  }
}

.boldline {
  background: whitesmoke;
  .mat-cell {
    color: black;
  }
}
